<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="point">
      <h2 data-cy="pointDetailsHeading"><span jhiTranslate="jhipsterAngularApp.point.detail.title">Point</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ point.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterAngularApp.point.title">Title</span></dt>
        <dd>
          <span>{{ point.title }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterAngularApp.point.description">Description</span></dt>
        <dd>
          <span>{{ point.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/point', point.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
